Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [1]:
def is_symmetrical(in_num):
    str_num = str(in_num)
    if len(str_num)%2==0:
        if str_num[:int(len(str_num)/2)]== str_num[len(str_num):int(len(str_num)/2)-1:-1]:
            return True
        else:
            return False
    else:
        return False

In [2]:
is_symmetrical(111111)

True

Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [3]:
def multiply_nums(in_str):
    result = 1
    for i in in_str.split(", "):
        result *= int(i)
    return result

In [4]:
multiply_nums("1, 2, 3, 4")

24

Create a function that squares every digit of a number.

In [5]:
def square_digits(in_num):
    result = ""
    for i in str(in_num):
        result+=(str(int(i)**2))
    return int(result)

In [6]:
square_digits(2483)

416649

Create a function that sorts a list and removes all duplicate items from it.

In [7]:
def setify(in_list):
    in_list.sort()
    result = []
    for i in in_list:
        if i not in result:
            result.append(i)
    return result

In [8]:
setify([4, 4, 4, 4])

[4]

Create a function that returns the mean of all digits.

In [9]:
def mean(in_num):
    str_num = str(in_num)
    count = 0
    num_sum = 0
    for i in str_num:
        count += 1
        num_sum += int(i)
    return int(num_sum/count)

In [10]:
mean(666)

6