Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [1]:
def filter_list(in_ls):
    result = []
    for i in in_ls:
        if type(i) == int:
            result.append(i)
    return result

In [2]:
filter_list(["Nothing", "here"])

[]

Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [3]:
def add_indexes(in_ls):
    out_ls = []
    for i in range(len(in_ls)):
        out_ls.append(i+in_ls[i])
    return out_ls

In [4]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth.

In [5]:
import math
def cone_volume(height, radius):
    return round(math.pi* radius**2 * height/3,2)

In [6]:
cone_volume(15, 6)

565.49

This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [7]:
def triangle(in_seq):
    result = 0
    for i in range(1,in_seq+1):
        result += i
    return result

In [8]:
triangle(215)

23220

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.

In [9]:
def missing_num(in_ls):
    for i in range(1,11):
        if i not in in_ls:
            return i

In [10]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5